@model List<LeaderboardEntry>


<h2>Solo Shuffle Leaderboard for @ViewData["Spec"]</h2>

<table class="leaderboard-table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Realm</th>
            <th>Rating</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
                <tr>
                    <td>@entry.Rank</td>
                    <td>@entry.Player.Name</td>
                    <td>@entry.Player.Realm.Slug</td>
                    <td>@entry.Rating</td>
                    <td>@entry.SeasonMatchStatistics.Won</td>
                    <td>@entry.SeasonMatchStatistics.Lost</td>
                </tr>
        }
    </tbody>
</table>

